* {
    margin: 0;
    padding: 0;
}

body {
    color: #5a5a5a;
}

.marketing .col-lg-4 {
    text-align: center;
}

.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    position: relative;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
}

.marketing {
    padding-top: 50px;
}

.featurette-divider {
    margin: 5rem 0;
}

.marketing h2 {
    font-weight: 400;
}

.featurette-heading {
    margin-top: 7rem;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -.05rem;
}

.bd-placeholder-img-lg {
    font-size: 3.5rem;
}

.bd-placeholder-img {
    font-size: 3.5rem;
    text-anchor: middle;
}