* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner.png);
    height: auto;
    padding: 20px 0px;
    background-size: 100%;
    background-repeat: no-repeat;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.9rem;
    padding-left: 1.6rem;
    color: #fff;
    font-size: 16pt;
}

.bg-light {
    background-color: transparent !important;
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

