* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

nav {
    position: sticky;
}

.rightside {
    float: right;
}

.leftside img {
    padding-left: 3.7%;
    padding-top: 1.3%;
}

