* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}

nav {
    overflow: hidden;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
}

.rightside {
    float: right;
    padding: 16px 20px;
    word-spacing: 570%;
    margin-top: -3.6%;
    padding-right: 6.1%;
   
}

.rightside a {
    color: #9BA1AB;
    font-weight: 400;
   
}

.leftside img {
    padding-left: 3.7%;
    padding-top: 1.3%;
}

