* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
}

.banner {
    overflow: hidden;
}

.bg-cover {
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

}

.overlay {
    position: relative;
}

form-control {
    height: 50px;
    border-radius: 25px;
    border: 0;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    padding: 0 20px;
}
