* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #ffed71;

}

.menu ul li a:hover {
    color: #ffffff;
    background: url(../image/menu-btn.png) no-repeat;
}
.header-wrap {  
    height: 150px;
    width: 100%;
}

.logo {
    width: 360px;
    margin: 0 auto;
}

.logo h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: normal;
    padding-top: 70px;
    padding-bottom: 40px;
}

.menu-wrap {
    overflow: hidden;
    margin: 25px auto 30px auto;
    width: 960px;
}

.menu {
    float: left;
    width: 660px;
}


.menu ul li a.active {
    color: #ffed71;
    width: 88px;
    height: 40px;
    color: #ffffff;
}


element {

}
.menu ul li a.active {
    color: #ffed71;
    width: 88px;
    height: 40px;
    color: #ffffff;

}
.menu ul li a {

    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #ffed71;
}


.menu ul li {
    list-style: none;
    float: left;
    width: 88px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.socia-wrap {
    float: right;
    width: 200px;
}

.socail {
    overflow: hidden;
}

.socail ul li {
    float: left;
    margin-right: 15px;
    list-style: none;
}

.banner-wrap {
 width: 960px;
overflow: hidden;
margin: 0 auto;
}

.banner {
    height: 430px;
    background: url(../image/banner-bg.png) no-repeat;
}

.banner .banner-img {
    margin: 0 auto;
    padding-top: 54px;
    width: 420px;
}

.shadow {
    width: 950px;
    height: 38px;
    background: url(../image/shadow.png) no-repeat center;
    margin-bottom: 45px;
}

.page-wrap {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.box {
    width: 300px;
    overflow: hidden;
    float: left;
}

.marRight30 {
    margin-right: 30px;
}

.box .panel .title {
    background: url(../image/line-bg.jpg) repeat-x bottom;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.box .panel .title span {
    float: left;
    margin-right: 12px;
}

.title h1 {
    color: #ffffff;
    font-weight: normal;
    font-size: 22px;
}

.content p { 
        line-height: 20px;  
}

.button a {
    text-decoration: none;
    background-image: url(../image/btn-bg.png);
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #ffed71;
    display: block;
}


.marTop30 {
    margin-top: 30px;
}

.button a:hover {
    background: url(../image/btn-bghover.png) no-repeat;
    color: #04192f;
}

.wrap2 {
    width: 880px;
    height: 75px;
    margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
    overflow: hidden;
    background: url(../image/box-bg.png) no-repeat;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 40px 40px;
}

.wrap2 h1 {
    color: #001325;
    font-size: 22px;
    font-weight: normal;
}


.wrap2 .button {
    float: right;
    display: block;
}

.wrap2 .button a {
    background: url(../image/box-bg2.png) no-repeat;
    width: 220px;
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    text-transform: uppercase;
    padding-left: 40px;
}

.wrap2 .content {
    width: 500px;
    float: left;
}

.icon {
    float: left;
    width: 35px;
    height: 60px;
    margin-right: 25px;
}

.clearing {
    clear: both;
}

.wrap3 {
    width: 960px;
    margin: 0 auto;
}

.wrap3 .panel {
    width: 300px;
    float: left;
}

.wrap3 .panel .title {
    padding-bottom: 30px;
}

.wrap3 .panel .content img {
    margin-bottom: 20px;
}

P {
    line-height: 20px;
}

.marTop20 {
    margin-top: 20px;
}

.wrap3 .panel {
    width: 300px;
    float: left;
}

.wrap3 .panel .content img {
    margin-bottom: 20px;
}

.marTop30 {
    margin-top: 30px;
}

.wrap3 .panel {
    width: 300px;
    float: left;
}

.marTop30 {
    margin-top: 30px;
}

.wrap3 .panel .content .icon {
    float: left;
    padding-right: 20px;
}

.icon {
    float: left;
    width: 35px;
    height: 60px;
    margin-right: 25px;
}

.wrap3 .panel .content img {
    margin-bottom: 20px;
}

.marTop30 {
    margin-top: 30px;
}

.footer-wrap {
    background: url(../image/bg2.jpg);
    margin-top: 80px;
    overflow: hidden;
}

.footer-wrap .wrap {
    width: 960px;
    margin: 0 auto;
    background: url(../image/footerbg-light.png) no-repeat center;
    height: 208px;
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
}

.footer-wrap .wrap .panel {
    width: 300px;
    float: left;
}

.marRight30 {
    margin-right: 30px;
}

.footer-wrap .wrap .panel .title {
    color: #ffffff;
    padding-bottom: 30px;
}

.testimonials {
    background: url(../image/testimonials-bg.png) no-repeat;
    width: 220px;
    height: 106px;
    padding: 30px 50px 30px 30px;
}

.input-newsletter {
    background: url(../image/newsletter-bg.png) no-repeat center;
    width: 210px;
    height: 46px;
    border: none;
    text-indent: 10px;
    color: #fff;
    font-family: "Trebuchet MS";
    font-size: 14px;
}

.footer-wrap .wrap .panel .content ul li .button {
    background: url(../image/signup-btn.png);
    width: 80px;
    height: 46px;
    border: none;
    font-size: 18px;
    color: #3d1a1b;
    font-family: "Trebuchet MS";
    margin-left: 10px;
}

.footer-wrap .wrap .panel .content ul li {
    list-style: none;
    float: left;
}

.content P {
    line-height: 20px;
}

.footer-wrap .wrap .panel .content ul {
    padding-bottom: 30px;
    overflow: hidden;
}

.footer-wrap .wrap .panel .content span {
    color: #da2600;
}

.footer-wrap .wrap .panel .content span a {
    color: #da2600;
    text-decoration: underline;
    display: block;
    padding-top: 20px;
}

.footer-wrap .wrap .panel {
    width: 300px;
    float: left;
}

.footer-wrap .wrap .panel .title {
    color: #ffffff;
    padding-bottom: 30px;
}

.cotact {
    width: 300px;
}

.cotact ul li {
    border-bottom: #0d304f solid 1px;
    list-style: none;
    line-height: 50px;
}

.cotact ul li img {
    padding-right: 10px;
}

.clearing {
    clear: both;
}