* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #ffed71;

}

.menu ul li a:hover {
    color: #ffffff;
    background: url(../image/menu-btn.png) no-repeat;
}
.header-wrap {  
    height: 150px;
    width: 100%;
}

.logo {
    width: 360px;
    margin: 0 auto;
}

.logo h1 {
    color: #ffffff;
    font-size: 45px;
    font-weight: normal;
    padding-top: 70px;
    padding-bottom: 40px;
}

.menu-wrap {
    overflow: hidden;
    margin: 25px auto 30px auto;
    width: 960px;
}

.menu {
    float: left;
    width: 660px;
}


.menu ul li a.active {
    color: #ffed71;
    width: 88px;
    height: 40px;
    color: #ffffff;
}


element {

}
.menu ul li a.active {
    color: #ffed71;
    width: 88px;
    height: 40px;
    color: #ffffff;

}
.menu ul li a {

    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color: #ffed71;
}


.menu ul li {
    list-style: none;
    float: left;
    width: 88px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
}

.socia-wrap {
    float: right;
    width: 200px;
}

.socail {
    overflow: hidden;
}

.socail ul li {
    float: left;
    margin-right: 15px;
    list-style: none;
}

.banner-wrap {
 width: 960px;
overflow: hidden;
margin: 0 auto;
}

.banner {
    height: 430px;
    background: url(../image/banner-bg.png) no-repeat;
}

.banner .banner-img {
    margin: 0 auto;
    padding-top: 54px;
    width: 420px;
}

.shadow {
    width: 950px;
    height: 38px;
    background: url(../image/shadow.png) no-repeat center;
    margin-bottom: 45px;
}