* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.header-div {
    height: 550px;
    background-color: #65cd00;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

.container > .navbar-header {
    margin-right: 0;
    margin-left: 0;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.logo-div a {
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.nav > li {
    position: relative;
    display: block;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

.navbar-nav li a {
    color: #fff !important;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: transparent;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1 {
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline {
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #65CD00;
}

.features-div {
    text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div i {
    font-size: 35px;
    font-weight: 300;
    color: #65CD00;
}

.features-div h4 {
    color: #393939;
    font-weight: 400;
}

.features-div p {
    color: #636363;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.slide-text {
    color: #fff;
    margin-top: 80px;
}

.slide-text h1 {
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
    text-align: center;
}

.more-feature-div {
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 70px 0px;
        margin-bottom: 70px;
    margin-bottom: 0px;
    padding: 50px 0px;
}

.more-features-div {
    margin-top: 40px;
    overflow: hidden;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
        font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;
}


.more-features-div-description {
    float: right;
    width: 86%;
    font-weight: 300;
}
.more-features-div-icon {

    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #65CD00;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;

}

.main_heading {
    margin: 50px 0px;
}

.services-box-gray {
    background: #f8f8f8;
}

.services-box {
    text-align: center;
    padding: 15px 0px;
}

.services-box i {
    line-height: 75px;
    font-size: 50px;
}


.services-box {
    text-align: center;
    padding: 15px 0px;
}
.services-box h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}

.services-box p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin: 0 0 10px;
}


.call-to-Action {
    background-image: url(../images/dashboard-img.jpg);
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    background-size: cover;
}

.pricing-box {
    background: #f8f8f8;
    text-align: center;
}

.pricing-box-price {
    position: relative;
    padding: 20px 0 7px 0;
    background: #eee;
    font-size: 42px;
    color: #555;
    line-height: 54px;
}

.pricing-box-price span {
    font-size: 18px;
    color: #888;
    line-height: 32px;
}

.pricing-box-price {
    position: relative;
    padding: 20px 0 7px 0;
    background: #eee;
    font-size: 42px;
    color: #555;
    line-height: 54px;
}

.pricing-box-features ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pricing-box-features li {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.pricing-box h4 {
    margin-top: 0;
    margin-bottom: 2px;
    padding: 10px 20px;
    background: #e8e8e8;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    text-transform: uppercase;
}

.pricing-box-features li {
    padding: 7px 20px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}




.btn-link-1 {
    position: relative;
    display: inline-block;
    height: 50px;
    margin: 0 5px;
    padding: 16px 20px 0 20px;
    background: #61C103;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}