* {
  margin: 0;
  padding:0;
 text-decoration: none;

}



.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
   flex-direction: row;
   margin-left:4%;
   margin-right:2%;

}

.flex-container > .container_item {

  height: 44vh;
  width: 23%;
  margin: 0.70%;
  text-align: center;
  line-height: 5%;



}
main {
    margin-top: 6%;
}
.imgsize {
  height: 44vh;
  width: 100%;
  display: block;
}

.container {
  position: relative;
  width:50%;
}

.container >.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width:70%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 4vh;
  padding: 7%;
  text-align: center;
  margin-left: -32%;
  
}

.container:hover .overlay {
  opacity: 1;
}