* {
  margin: 0;
  padding:0;
 text-decoration: none;

}
body {
  margin: 0;
}
.navbar {
  overflow: hidden;
  background-color:#F8F9FA;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1;
}

.navbar a {
  float: left;
  display: block;
  color: #7C7C7D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top:0.50%;
  border:none;

}

.navbar a:hover {
  color:#181819;
}

.navbar :first-child {
  font-size: 4vh;
  margin-top:0.10%;
}

.navbar :first-child:hover {
  color: #7C7C7D;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
   flex-direction: row;
   margin-left:4%;
   margin-right:2%;
  
   

}

.flex-container > .container_item {

  height: 44vh;
  width: 23%;
  margin: 0.70%;
  text-align: center;
  line-height: 5%;
  



}
main {
    margin-top: 6%;
  
}
.imgsize {
  height: 44vh;
  width: 100%;
  display: block;

}

.container {
  position: relative;
  width:50%;
}

.container >.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width:67%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 4vh;
  padding: 7%;
  text-align: center;
  margin-left: -35%;
  
}

.container:hover .overlay {
  opacity: 1;
}

.newrow {
  display: flex;
  float: right;
  flex-direction: row;
  overflow: hidden;
  
}

.rowparealign {
  margin-left: 10%;
}

.imgsize2 {
  height: 80vh;
  width: 500%;
  display: block;

}
 
.rowparealign h1 {
  font-size:8vh;
  margin-left: -55%;
  float:right;
  margin-top:20%;
}

 
.rowparealign p {
  font-size:4.5vh;
  margin-left: -63%;
  float:right;
  margin-top:23%;
  justify-content: right;
}

#myDIV {
  display: none;
}