* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0,0,0,.7);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.btn-success:hover {
    color: #fff;
    background-color: #26af74;
    border-color: #24a46d;
}

.features {
    width: 80%;
    margin: 0;
        margin-bottom: 0px;
}

.features:nth-of-type(1) .icon {
    background: linear-gradient(to bottom right,#32d6fb 0%,#5558ed 100%);
    box-shadow: 0 8px 10px #96eafd;
}

.features .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    border-radius: 100px;
    color: #fff;
}

.features .icon {
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}

.features:nth-of-type(2) .icon {
    background: linear-gradient(to bottom right,#fc5f3c 0%,#ff55d3 100%);
    box-shadow: 0 8px 10px #feb1a0;
}

.features:nth-of-type(3) .icon {
    background: linear-gradient(to bottom right,#fad470 0%,#f96933 100%);
    box-shadow: 0 8px 10px #fdf2d3;
}

.pricing {
    text-align: center;
    display: block;
    border-radius: .25rem;
    background-color: #fff;
    overflow: hidden;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.pricing .price {
    font-size: 50px;
    font-weight: 700;
}

.pricing .features {
    font-size: 14px;
}

.pricing span, .pricing div {
    display: block;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

#team .members img {
    border-radius: 80px;
    height: 120px;
    widows: 120px;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}

.btn-filled.btn-facebook {
    background-color: #3b5998 !important;
    color: #fff !important;
}

.btn-filled.btn-instagram {
    background-color: #fd5d58 !important;
}

.btn-filled.btn-linkedin {
    background-color: #0077b5 !important;
}

.btn-primary {
    color: #fff;
    background-color: #3d55df;
    border-color: #324cdd;
}

#footer a {
    color: rgba(0,0,0,.5);
}