* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-top {
    background: url(../images/banner2.jpg);
        background-position-x: 0%;
        background-position-y: 0%;        
        background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
    min-height: 980px;
    background-position: right top;
}

.header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 40px 40px 40px 40px;
}

.logo_section {
    text-align: center;
}

.full {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
}

.logo a {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
}

ul.top_icon {
    float: right;
}

ul.top_icon li {
    display: inline-block;
}

.button_login {
    background-color: #f00;
    padding: 4px 12px;
    border-radius: 5px;
}

ul.top_icon li a {
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    padding: 0px 20px;
}

.slider_section {
    padding-top: 134px;
}

nav.main-menu {
    float: left;
    margin-left: 0;
    margin-left: 0;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li:first-child {
    margin-left: 0;
    background: #f00;
}

.main-menu ul > li {
    position: inherit;
    display: block;
    text-align: left;
    vertical-align: middle;
}


.main-menu ul > li a {
    position: relative;
    display: block;
    cursor: pointer;
}

.main-menu ul > li a {
    padding: 11px 20px;
        padding-left: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding-left: 70px;
}

.main-menu ul > li a {
    position: relative;
    display: block;
    cursor: pointer;
}

.padding_left0 {
    padding-left: 0px;
}

.text-bg {
    padding-top: 345px;
}

.text-bg h1 {
    font-size: 60px;
    line-height: 64px;
    color: #fff;
padding-top: 80px;
padding-bottom: 25px;
text-transform: uppercase;
font-weight: 500;
}

.text-bg span {
    font-size: 17px;
    display: block;
    color: #fff;
    line-height: 25px;
    padding-bottom: 50px;
}


.text-bg a {
    font-size: 16px;
    text-transform: uppercase;
    background-color: #fff;
    color: #ff0000;
    padding: 10px 40px;
    display: inline-block;
    text-decoration-line: none;
}

.text-bg a:hover {
    background-color: #ff0000;
    color: #fff;
}

.text-img figure img {
    float: right;
    max-width: 950px;
}

.our {
    background-color: #fff;
    padding-top: 90px;
}

.our .titlepage {
    text-align: left;
}

.titlepage {
    padding-bottom: 60px;
}

.titlepage h2 {
    padding: 0;
    font-weight: 500;
    color: #000;
    line-height: 50px;
    font-size: 50px;
}

.margin_bottom {
    margin-bottom: 35px;
}

.our .Games p {
    font-size: 17px;
    line-height: 30px;
    color: #181716;
    padding: 20px 0px;
    font-weight: 400;
}


.our .Games a {
    font-size: 16px;
    border: #fff solid 1px;
    background-color: #000;
    color: #fff;
    padding: 10px 27px;
    text-decoration: none;
}

.our .Games a:hover {
    background-color: #ff0000;
    border: #ff0000 solid 1px;
    color: #fff;
}

.our .Games h3 {
    color: #000;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    padding: 0;
}

.we_are {
    padding-top: 90px;
    background: #fff;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.box_bg {
    background: #c3c3c3;
    padding: 40px 0px 40px 65px;
    margin-right: 101px;
}

.box_bg_img {
    margin-right: -84px;
    box-shadow: #c3c3c3 0px 0px 29px 4px;
}


.box_text {
    max-width: 531px;
    width: 100%;
    padding: 25px 2px 2px 2px;
}

.border_right {
    border-right: #f00 solid 6px;
}

.box_text p {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    text-align: right;
    color: #181716;
}

.box_text a {
    font-size: 16px;
    border: #fff solid 1px;
    background-color: #000;
    color: #fff;
    padding: 10px 39px;
    display: inline-block;
    margin-top: 11px;
}

.about {
    background-color: #fff;
    padding-top: 90px;
}

.titlepage {
    text-align: center;
    padding-bottom: 60px;
}

.about .about-box {
    text-align: center;
}

.about .about-box figure img {
    width: 100%;
}

.about .about-box p {
    font-size: 17px;
    line-height: 28px;
    color: #000;
    padding-top: 40px;
    margin: 0;
    font-weight: 300;
}

.testimonial {
    background: #fff;
    margin-top: 85px;
}

.box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.testimonial_box {
    text-align: center;
}

.testimonial .clients_box {
    border-radius: 20px;
    text-align: center;
}

.testimonial .clients_box h3 {
    padding-top: 20px;
    font-size: 29px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    border-bottom: #000 solid 1px;
    width: 104px;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
    letter-spacing: 0;
    position: relative;
    margin: 0;
    padding: 0 0 10px 0;
}

.testimonial .clients_box p {
    color: #000;
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #1a1a1b;
}

.contact {
    padding-top: 90px;
}

.contact .contact_bg {
    background: #ff0000;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.contact .contact_bg .contactus {
    border: #b1b0b0 solid 1px;
    padding: 12px 19px;
    margin-bottom: 26px;
    border-radius: inherit;
    color: #000;
    width: 100%;
}

.contact .contact_bg .textarea {
    margin-bottom: 25px;
    padding: 15px 19px;
    color: #000 !important;
    width: 100%;
    border: #b1b0b0 solid 1px;
    border-radius: inherit;
    resize: none;
}

textarea {
    overflow: auto;
}

.contact .contact_bg .send {
    font-size: 16px;
    border: #000 solid 1px;
    background-color: #000;
    color: #fff;
    padding: 11px 67px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer {
    background: #181716;
    padding-top: 90px;
    margin-top: 90px;
}

.footer h2 {
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0;position: relative;
padding: 0 0 10px 0;
font-weight: normal;
margin: 0;font-family: inherit;
}

.news {
    padding-bottom: 50px;
    padding-top: 15px;
}

.news .newslatter {
    padding:14px 15px;
    box-shadow: inherit;
    width: 70%;
    font-size: 19px;
}

.submit {
    padding: 14px 45px;
    border: #f00 solid 1px;
    background: #f00;
    color: #fff;
    margin-left: -5px;
    font-size: 19px;
    max-width: 271px;
    width: 100%;
}

ul.social_link {
    padding-bottom: 35px;
    padding-top: 7px;
    display: block;
}

.footer .address h3 {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: #ff0000 solid 4px;
    margin-bottom: 20px;
    width: 160px;
}

ul.social_link {
    padding-bottom: 35px;
    padding-top: 7px;
    display: block;
}

ul.social_link li {
    display: inline-block;
    padding-right: 4px;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer .address h3 {
    color: #fff;
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-bottom: 3px;
    border-bottom: #ff0000 solid 4px;
    margin-bottom: 20px;
    width: 160px;
}

ul.Menu_footer li {
    padding-bottom: 5px;
    display: block;
    color: #3e7f21;
}

ul.Menu_footer li a {
    display: block;
    color: #fff;
    font-size: 17px;
    padding-left: 16px;
    margin-top: -27px;
}

ul.Links_footer {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}

ul.Links_footer li a {
    display: block;
    color: #fff;
    font-size: 17px;
    padding-left: 16px;
    margin-top: -27px;
}