* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    text-align: left;
    box-sizing: border-box;
    cursor: default;


}



.navbar-brand {
    font: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

body {
    line-height: 1.4;
    font-family: 'Quicksand', sans-serif;
font-size: 15px;
color: #333;
font-weight: 400;
line-height: 1.4;
}

.margintop {
    margin-top: 1.9%;
}

div>ul>li>a {
    font-size: 18px;
    color:#334B62;
    text-transform: capitalize;
    cursor: pointer;
    transition: .2s ease;
    text-decoration: none;
    text-align: center !important;
    align-items: center;
    justify-content: space-around;
    word-spacing: 25px;
}

.nav-link {
    display: block;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
}

.fa-shopping-cart {
    
    border: 0;
    position: relative;  
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
   box-sizing: border-box; 
   font-size: 22px;
   background-color: white;
   background: transparent;
   rotate: 360deg;
   
}

button {
    cursor: pointer;
    transition: .2s ease;
    margin:0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    background: transparent;
    border: none;
}

.badge-primary {
    height: 18px;
    width: 18px;
    background-color: #5ab51e;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    top:22px;
    position: absolute;
    right: -3px;
    padding: -.25em .4em;
    font-size: 72%;
    text-align: center;

}

.section-sm {
    margin-top: 7%;
}

.section-sm h1{
    font-size: 48px;
    color: #222;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.section-sm p {
    font-weight: 400;
    color:#333;
    font-size: 15px;
    line-height: 1.7;
     margin-bottom: 0;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.btn-primary {
    background-color: #71dc2a;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(27deg,#59b51e 0%,#95d239 100%)!important;
    outline: 0;
    font-size: 14px;
    font-family: quicksand,sans-serif;
    text-transform: capitalize;
    padding: 13px 40px;
    border-radius: 35px;
    font-weight: 400;
    border: 1px solid;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    margin-right: 1rem !important;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    line-height: 1.5;
    white-space: nowrap;
    box-sizing: border-box;
    margin-top: 2%;
}

.btn:hover {

    box-shadow: 0 8px 10px rgba(33,33,33,.2)!important;
    border-color: transparent;

}
.btn-primary:hover {
    color: #fff;
   
}

.overlay-image {
    position: absolute;
    left:0;
    right: 0;
    top:0;
    height: 100%;
    width: 100%;
    border-style: none;
    box-sizing: border-box;
    text-align: left;
 
}


.section2 h2 {
    font-size: 42px;
    font-family: quicksand,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
}

.textedit h2 {
    font-size: 42px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;
    color: #222;
    font-weight: 400;


}

.textedit p {
    font-weight: 400;
    color: #333;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'Quicksand', sans-serif;

}

.section {
    margin-top: 11.7%;
}

.col-lg-8 {
    flex:0 0 66.666667%;
    max-width;:0 0 66.666667%;
  
}

::selection {
    background: #71dc2a;
    color:#fff;

}

.bg-gradient {
    background: linear-gradient(27deg,#59b51e 0%, #95d239 100%) !important;
}

.py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}

.position-relative {
    position: relative !important;
    
}

section {
    display: block;
    box-sizing: border-box;
}


.col-md-7  {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2%;
}

.col-md-7 h2 {
    font-size: 42px;
    color:#fff;
    font-family: 'quicksand',sans-serif;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5rem;
    margin-top: 0;
    box-sizing: border-box;
    text-align: left;

    
}

.col-md-7 p {
font-weight: 400;
color:#fff;
font-size: 15px;
line-height: 1.7;
margin-bottom: 1rem;
margin-top:0;
box-sizing: border-box;
text-align: left;
font-family: 'quicksand',sans-serif;


}

.btn-light {
    font-size: 14px;
    font-family: 'quicksand',sans-serif;
    text-transform: capitalize;
    padding:13px 40px;
    border-radius: 35px;
    font-weight: 500;
   border: none;
    position: relative;
    z-index: 1;
    transition: .2s ease;
    background-color: #FFFFFF;
    
}


.btn-light:hover {
    outline: 0;
    box-shadow: 0 8px 10px rgba(33,33,33,.2) !important;
    background-color: #FFFFFF;
}